#heading{


    height: 100px;
    width: 100%;
    background-color: rgb(33, 33, 104);
    text-align: center;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    padding-top: 20px;
}

#heading h1{

    display: block;
    margin: 0px;
}

.data{


    color: white;
    font: bold;
    font-size: large;
    width: 500px;
    display: block;

}